@media screen and (max-width: 576px) {
  .nav-container {
    box-shadow: none;
  }
  .nav-menu {
    flex-direction: column;
    width: 90%;
  }
  .nav-right > ul {
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
  }

  
}
